In [76]:
import pandas as pd
import numpy as np
from functools import reduce
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.from_csv.html
event_key = '2017txlu'
matches_file = event_key + '_matches.csv'
stats_file = event_key + '_stats.csv'
opr_file = event_key + '_opr.csv'
experience_file = event_key + '_rookieyear.csv'
matches = pd.DataFrame.from_csv(matches_file)
stats = pd.DataFrame.from_csv(stats_file)
experience = pd.DataFrame.from_csv(experience_file)
opr = pd.DataFrame.from_csv(opr_file)
my_dfs = [experience, stats, opr]
teams = reduce(lambda x,y: pd.merge(x,y, on = "team"), my_dfs)
teams.head()

,team,experience,rank,wins,losses,ties,points,auto,rotor,touchpad,pressure,OPR,DPR,CCWM
0,frc1164,14,25,5,6,0,1823.0,402.0,1000.0,550.0,38.0,41.842873,43.147364,-1.304491
1,frc118,20,3,9,2,0,2280.0,358.0,1100.0,750.0,230.0,109.437287,49.938890,59.498398
2,frc1477,13,2,10,1,0,2517.0,309.0,1100.0,950.0,7.0,118.234789,12.249579,105.985210
3,frc159,19,18,6,5,0,1909.0,199.0,980.0,600.0,4.0,51.352990,44.305976,7.047014
4,frc1817,11,9,7,4,0,2045.0,387.0,1080.0,600.0,5.0,78.688407,1.981109,76.707298

In [45]:
matches.head()

        b1       b2       b3  bscore       r1       r2       r3  rscore level
0  frc3847  frc1477   frc159     265   frc935  frc1817  frc4063     231     f
1  frc3847  frc1477   frc159     195   frc935  frc1817  frc4063     284     f
2  frc3847  frc1477   frc159     220   frc935  frc1817  frc4063     241     f
3   frc935  frc1817  frc4063     260  frc5866  frc3366  frc2468     180    qf
4   frc935  frc1817  frc4063     159  frc5866  frc3366  frc2468     495    qf

In [86]:
# https://erikrood.com/Python_References/rows_cols_python.html
# https://stackoverflow.com/questions/23690284/pandas-apply-function-that-returns-multiple-values-to-rows-in-pandas-dataframe
def calculateAlliance(row, teams):
    # blue stats
    blue = teams.loc[(teams["team"] == row[0]) | (teams["team"] == row[1]) | (teams["team"] == row[2])]
    b_score = row[3]
    blue = blue.copy()
    blue.drop(["team"], axis = 1, inplace = True)
    # get the sum of things we want
    sum_blue = blue.apply(np.sum, axis = 0)
    b_experience = sum_blue["experience"]
    b_wins = sum_blue["wins"]
    b_losses = sum_blue["losses"]
    b_ties = sum_blue["ties"]
    b_points = sum_blue["points"]
    b_auto = sum_blue["auto"]
    b_rotor = sum_blue["rotor"]
    b_touchpad = sum_blue["touchpad"]
    b_pressure = sum_blue["pressure"]
    # get the average of things we want
    avg_blue = blue.apply(np.mean, axis = 0)
    b_rank = avg_blue["rank"]
    b_OPR = avg_blue["OPR"]
    b_DPR = avg_blue["DPR"]
    b_CCWM = avg_blue["CCWM"]
    
    # Red stats
    red = teams.loc[(teams["team"] == row[0]) | (teams["team"] == row[1]) | (teams["team"] == row[2])]
    r_score = row[7]
    red = red.copy()
    red.drop(["team"], axis = 1, inplace = True)
    sum_red = red.apply(np.sum, axis = 0)
    r_experience = sum_red["experience"]
    r_wins = sum_red["wins"]
    r_losses = sum_red["losses"]
    r_ties = sum_red["ties"]
    r_points = sum_red["points"]
    r_auto = sum_red["auto"]
    r_rotor = sum_red["rotor"]
    r_touchpad = sum_red["touchpad"]
    r_pressure = sum_red["pressure"]
    # get the average of things we want
    avg_red = red.apply(np.mean, axis = 0)
    r_rank = avg_red["rank"]
    r_OPR = avg_red["OPR"]
    r_DPR = avg_red["DPR"]
    r_CCWM = avg_red["CCWM"]
    
    return pd.Series([b_score, r_score, b_experience, b_wins, b_losses, b_ties, b_points, b_auto, b_rotor, b_touchpad, b_pressure, b_rank, b_OPR, b_DPR, b_CCWM, r_experience, r_wins, r_losses, r_ties, r_points, r_auto, r_rotor, r_touchpad, r_pressure, r_rank, r_OPR, r_DPR, r_CCWM])

In [87]:
# https://stackoverflow.com/questions/11346283/renaming-columns-in-pandas
df = matches.apply(lambda row: calculateAlliance(row, teams), axis = 1)
df.columns = ["b_score", "r_score", "b_experience", "b_wins", "b_losses", "b_ties", "b_points", "b_auto", "b_rotor", "b_touchpad", "b_pressure", "b_rank", "b_OPR", "b_DPR", "b_CCWM", "r_experience", "r_wins", "r_losses", "r_ties", "r_points", "r_auto", "r_rotor", "r_touchpad", "r_pressure", "r_rank", "r_OPR", "r_DPR", "r_CCWM"]

In [88]:
df.head()

,b_score,r_score,b_experience,b_wins,b_losses,b_ties,b_points,b_auto,b_rotor,b_touchpad,...,r_ties,r_points,r_auto,r_rotor,r_touchpad,r_pressure,r_rank,r_OPR,r_DPR,r_CCWM
0,265.0,231.0,38.0,23.0,9.0,1.0,6367.0,830.0,3100.0,2250.0,...,1.0,6367.0,830.0,3100.0,2250.0,52.0,8.666667,79.425513,37.749813,41.675700
1,195.0,284.0,38.0,23.0,9.0,1.0,6367.0,830.0,3100.0,2250.0,...,1.0,6367.0,830.0,3100.0,2250.0,52.0,8.666667,79.425513,37.749813,41.675700
2,220.0,241.0,38.0,23.0,9.0,1.0,6367.0,830.0,3100.0,2250.0,...,1.0,6367.0,830.0,3100.0,2250.0,52.0,8.666667,79.425513,37.749813,41.675700
3,260.0,180.0,31.0,19.0,14.0,0.0,5774.0,772.0,2840.0,1850.0,...,0.0,5774.0,772.0,2840.0,1850.0,59.0,15.333333,66.721843,45.356562,21.365281
4,159.0,495.0,31.0,19.0,14.0,0.0,5774.0,772.0,2840.0,1850.0,...,0.0,5774.0,772.0,2840.0,1850.0,59.0,15.333333,66.721843,45.356562,21.365281