In [26]:
#https://github.com/frc1418/tbapy/blob/master/tbapy/main.py
import requests
import numpy as np
import pandas as pd
base_url= "https://www.thebluealliance.com/api/v3/"
auth_key = 'fge7icVbwIkRUkYKFb7Bj045jGELlWspOnCTxJnhkC9jqiLRjE0VBR4ACcez4vxo'

# https://www.dataquest.io/blog/python-api-tutorial/
# https://www.digitalocean.com/community/tutorials/how-to-use-web-apis-in-python-3
# https://www.dataquest.io/blog/python-api-tutorial/
# https://www.dataquest.io/blog/python-api-tutorial/
headers = {"X-TBA-Auth-Key": auth_key}

In [37]:
# format url for request and make request
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html

event_key = '2017txlu'
url_teams = 'teams'
url = base_url + 'event/' + event_key + '/teams'
response = requests.get(url, headers = headers)
data = response.json()

# create a dataframe of the team and rookie year
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.append.html
df_rookieyear = pd.DataFrame(columns = ["team", "experience"])
for i in range(0, len(data)):
    name = data[i]["key"]
    year = 2017 - data[i]["rookie_year"]
    df_rookieyear = df_rookieyear.append({"team": name, "experience": year}, ignore_index = True)

In [38]:
df_rookieyear

       team experience
0   frc1164         14
1    frc118         20
2   frc1477         13
3    frc159         19
4   frc1817         11
5    frc192         20
6   frc2164         10
7   frc2341          9
8   frc2352          9
9   frc2395          9
10  frc2468          9
11  frc2481          9
12  frc2613          9
13  frc2657          9
14  frc3043          8
15  frc3305          7
16  frc3366          7
17  frc3735          6
18  frc3847          6
19  frc4063          5
20   frc418         17
21  frc4298          5
22  frc4301          5
23  frc4364          5
24  frc4499          4
25  frc4603          4
26  frc4694          4
27  frc4696          4
28  frc4717          4
29  frc4734          4
30  frc4799          4
31  frc5312          3
32  frc5411          2
33  frc5550          2
34  frc5572          2
35  frc5613          2
36  frc5771          2
37  frc5783          2
38  frc5829          1
39  frc5866          1
40  frc5888          1
41  frc5960          1
42  frc6144          1
43   frc624         16
44  frc6430          0
45   frc935         15

In [39]:
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html
#path = 'C:/Users/Ithier/Documents/CSCI 29/Grad Project/FIRST/Data/'
#name = path + event_key + '_rookieyear.csv'
name = event_key + '_rookieyear.csv'
df_rookieyear.to_csv(name)

In [40]:
teams = df_rookieyear["team"].tolist()
teams

['frc1164',
 'frc118',
 'frc1477',
 'frc159',
 'frc1817',
 'frc192',
 'frc2164',
 'frc2341',
 'frc2352',
 'frc2395',
 'frc2468',
 'frc2481',
 'frc2613',
 'frc2657',
 'frc3043',
 'frc3305',
 'frc3366',
 'frc3735',
 'frc3847',
 'frc4063',
 'frc418',
 'frc4298',
 'frc4301',
 'frc4364',
 'frc4499',
 'frc4603',
 'frc4694',
 'frc4696',
 'frc4717',
 'frc4734',
 'frc4799',
 'frc5312',
 'frc5411',
 'frc5550',
 'frc5572',
 'frc5613',
 'frc5771',
 'frc5783',
 'frc5829',
 'frc5866',
 'frc5888',
 'frc5960',
 'frc6144',
 'frc624',
 'frc6430',
 'frc935']

In [41]:
df = pd.DataFrame(columns = teams)
df.head()

Empty DataFrame
Columns: [frc1164, frc118, frc1477, frc159, frc1817, frc192, frc2164, frc2341, frc2352, frc2395, frc2468, frc2481, frc2613, frc2657, frc3043, frc3305, frc3366, frc3735, frc3847, frc4063, frc418, frc4298, frc4301, frc4364, frc4499, frc4603, frc4694, frc4696, frc4717, frc4734, frc4799, frc5312, frc5411, frc5550, frc5572, frc5613, frc5771, frc5783, frc5829, frc5866, frc5888, frc5960, frc6144, frc624, frc6430, frc935]
Index: []

[0 rows x 46 columns]